@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #301e4e;
  --grey: #b3b3b3;
  --red: #d43131;
}

body {
  font-family: "Manrope", sans-serif;
}

.settings {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  min-height: 100vh;
  /* grid-template-columns: 1fr 1fr; */
}

.settings label {
  font-size: 0.9rem;
}

.settings .account {
  width: 50%;
}

.account .info,
.account .change-password {
  border: 1px solid var(--grey);
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 30rem;
  max-width: 100%;
  /* max-width: 100%; */
  padding: 1rem;
}

.change-password .form-control input {
  width: 100%;
  border: 1px solid var(--color-primary);
  padding: 0.5rem;
  border-radius: 4px;
  font-family: inherit;
}

.change-password .form-control {
  margin-block: 1rem;
}

.change-password .form-action {
  margin-top: 2rem;
}

.change-password .form-action button {
  width: 100%;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  padding: 0.6rem;
  background-color: var(--color-primary);
  border-radius: 4px;
  border: none;
}

.settings .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings .right img {
  width: 30rem;
  max-width: 100%;
  /* width: 100%; */
}

.right .account-action {
  /* align-content: flex-end; */
  align-self: flex-end;
}

.settings .right .btn-danger {
  background-color: var(--red);
  color: #fff;
  border: none;
  font-family: inherit;
  font-weight: 700;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  position: relative;
}

.btn-danger span {
  padding-inline: 0.5rem;
}
.settings .btn-danger img {
  width: 1rem;
  position: absolute;
  left: 0.9rem;
  /* height: 1px; */
  /* aspect-ratio: 1; */
}
