:root {
  --color-hero: linear-gradient(90deg, #301e4e 0%, #4b0082 100%);
  --color-main: #301e4e;
  --color-btn: #ff6e6c;
  --fz-heading: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "menu main main main main"
    "footer footer footer footer";
  background-color: #f2f1f4;
  font-family: "Manrope", sans-serif;
}
header {
  z-index: 1;
}

.hero {
  /* margin-top: 5rem; */
  overflow: hidden;
  width: 100%;

  min-height: 61vh;
  left: 0px;
  top: 0px;

  background: linear-gradient(90deg, #301e4e 0%, #4b0082 100%);
}

#vector {
  position: absolute;
  left: -9.38%;
  right: -20.9%;
  top: 0%;
  bottom: -132.91%;

  width: 100%;
  height: 645px;
  /* height: 690px; */

  margin-left: 9%;
  overflow: hidden;
}

.hero h1 {
  position: absolute;
  text-align: center;

  /* margin-bottom: 5%; */
  /* padding: 0 100px */
  margin: 0 100px;

  /* H1/Bold */

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height, or 150% */

  z-index: 1;
  color: #ffffff;
}

main {
  background-color: #f2f1f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px auto;
  width: 100%;

  z-index: 1;
}

.team {
  margin-top: 128px;
}

main div {
  justify-content: center;
}

main div > h6 {
  width: 858px;
  height: 140px;

  /* Body/Base/Regular */

  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  text-align: center;

  /* Grey100% */

  color: #1a1a1a;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.head {
  width: 314px;
  height: 72px;

  /* H3/SemiBold */

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */

  /* Grey100% */

  color: #1a1a1a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  text-align: center;
  margin: auto;
  margin-bottom: 32px;
}
#meet {
  margin: auto;

  margin-bottom: 48px;
  width: 536px;
  height: 72px;

  /* H3/SemiBold */

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */

  /* Grey100% */

  color: #1a1a1a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Profile Card */

.cards {
  display: flex;
  width: 90vw;
  /* overflow: scroll; */
  overflow-x: auto;
  overflow-y: scroll;
  gap: 20px;
  height: 321px;
  /* padding: 40px 48px 32px; */
}
.cards::-webkit-scrollbar {
  display: none;
}

.card {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 48px 32px;
  gap: 6px;

  width: 230px;
  height: 309px;
  margin-top: 2px;

  /* Background color */

  background: #f2f1f4;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  /* Inside auto layout */

  /* flex: none; */
  order: 0;
  flex-grow: 0;
}

.card h3 {
  width: 101px;
  /* height: 32px; */

  /* Body/Large/Bold */

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  /* Text color */

  color: #0a0610;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}

.card small,
p {
  width: 134px;
  /* height: 24px; */

  /* Body/Small/Semibold */

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Text color */

  color: #0a0610;
  text-align: center;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.role {
  font-weight: 400;
  order: 1;
}

.arro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.arrow {
  position: relative;
  /* left: 20.83%;
  right: 20.83%; */
  top: 25%;
  bottom: 25%;

  cursor: pointer;
  margin: 0 18.665px;

  /* Grey008 */

  /* background: #333333; */
}

#courtesy {
  /* This product is courtesy of the Zuri Team. */

  margin-top: 136px;
  margin-bottom: 192px;
  width: 315px;
  height: 24px;

  /* Body/Small/Semibold */

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey100% */

  color: #1a1a1a;

  /* Inside auto layout */

  /* flex: none; */
  order: 3;
  flex-grow: 0;
}
