/* MEDIA QUERY */
@media (max-width: 820px) {
  body{
      width: 100%;
      visibility: visible;
      background: #F2F1F4;
      
  }
  header{
    z-index: 1;
  }
  main{
   
    margin-bottom: 24px;


    margin-top: -8px;
  }
  .head{
    margin-bottom: 28px;
    margin-top: 5.5rem;
    font-size: 4rem;
    width: 100%;
  }

  .hero{
    margin-bottom: 16px;
  }
  
  .mid{
      width: auto;


  }
  #b1,#b2,#b3,#b4,
#b5,#b6,#b7,#b8,#b9,
#b10,#b11,#b12,#b13,
#b14,#b15,#b16,#b17,#b18,#b19{
  display: contents;
}

.arro,#courtesy{
  display: none;
}

  .team{
    margin-top: 54px;
    margin-bottom: -19px;
}
    /* margin-bottom: 6px; */



  .team>h6{
    
    position: relative;
   

    font-size: 1.8rem;
    line-height: 50px;
/* or 150% */
    padding: 0px 126px;
    margin-bottom: 429px;

  }

  .cards{
      display: grid;
      grid-template-rows: auto auto;
      align-content: center;
      grid-template-columns: auto auto;
      margin: auto;
      width: 100%;
      height: 1042px;
      margin-top: 8px;
      margin-bottom: 20px;
      /* gap: 10px;
      justify-content: center; */
  }


.card{
  
  width: 250px;
  height: 321px;
  gap: 6px;
  
  /* box-shadow: none; */
  background: #F2F1F4;
/* Elevation/1 */
  margin: 0px 7px;

  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
} 

.card h3{
  width: 100%;
  height: 28px;
}
 #meet{
  position: relative; 
  width: 100%; 
  height: 0px;
  margin-top: 187px;

 font-size: 2.5rem;
 line-height: 36px;
 color: #1A1A1A;
 text-align: center;

}


#c16>small, #c15>small {
  line-height: 6;

}
#c4>h3 {
  margin-bottom: 32px;

  
}
#vector{
  position: absolute;

  bottom: 65.33%;
  width: 857px;
  height: 643px;
}

footer{
margin-top: 67px;

}

  /* NAV BUG SOLUTION */
  .mobile-nav a, .mobile-nav button {
    display: block;
    width: 100%;
    max-width: 16rem;
    margin: 0 auto 23px;
    text-align: center;
    background-color: #6a5c81;
    padding: 1.3rem 1.5rem;
    color: #fff;
    font-size: 1.38rem;
  }
  .primary-navigation {
    height: 4.5rem;
  }
  .hamburger {
    position: relative;
    display: block;
    width: 5%; /*changed */
    cursor: pointer;
    z-index: 9999;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-right: 2.5rem;
  }

}

@media (max-width: 420px){
  .mobile-nav a, .mobile-nav button{
    font-size: 2rem;
    max-width: 32rem;
    padding: 2.3rem 1.5rem;
    margin: 0 auto 23px;
  }
  .hamburger .bar, .hamburger::after, .hamburger::before {
    content: "";
    display: block;
    width: 3.12rem;
    height: 6px;
    border-radius: 2px;
    background-color: var(--color-main);
    margin: 9px 0;
    transition: 0.4s;
}

  .primary-navigation {
      height: 7.5rem; 
  }
  #meet {
    margin-top: 308px;
    font-size: 2.9rem;
    width: auto;
    text-align: center;
  }
  .team>h6 {
    font-size: 2.5rem;
    margin-bottom: 577px;
    line-height: 56px;

  }
   
  .mobile-nav{
    padding-top: 307px;
    padding: 231px;
  }

}
@media (max-width: 200px){
  .mobile-nav a, .mobile-nav button{
    font-size: 3.2rem;
    max-width: 47rem;
    margin: 0 auto 50px;
  }
  .primary-navigation {
    height: 8rem;
  
  }
  .mobile-nav{
    padding: 70px;
    padding-top: 386px;
  }

}



  
