<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
</head>

<body>
    <main>
        <section class="login-container">
            <div class="login">
                <a href="{% url 'landing_page'%}"><img src="{% static 'assets/icons/logo.svg'%}" alt="Logo" /></a>
                <h1>Admin login</h1>
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}

                <form action="" method="post">
                    {% csrf_token %}

                    <div class="form-control">
                        <label for="email">Username</label>
                        <input type="text" name="username" placeholder="Enter your Username" required />
                    </div>
                    <div class="form-control">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter your password"
                            required />
                        <img class="" id="toggle-password" src="{% static 'assets/icons/remove_red_eye.png'%}"
                            alt="show password icon" />
                    </div>
                    <div class="form-action">
                        <button style="cursor: pointer;">Login</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer></footer>

    <script src="{% static 'js/login.js'%}"></script>
</body>

</html>