<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}" />
</head>

<body>
    <header class="top-nav">
        <div>
            <img src="{% static 'assets/icons/logo.svg'%}" alt="chuck it logo" class="logo" />
        </div>
        <div class="user">
            <small>{{user.username}}</small>
            <a href="{% url 'signout'%}"><img src="{% static 'assets/icons/logout-icon.png'%}" alt=""
                    style="cursor: pointer;" /></a>
        </div>
    </header>
    <main>
        <section id="file-upload-modal" class="modal">
            <div class="modal-content">
                <span class="close-button"><img src="{% static 'assets/icons/close.png'%}" alt="" /></span>
                <h2>Chunk File <span>(1/2)</span></h2>
                <div class="inner-modal-content">
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="form-control">
                            <div class="file-drop-area">
                                <input type="file" name="file" id="file" required />
                                <img src="{% static 'assets/icons/file_upload.png'%}" alt="" />
                                <p>Drop File Here or Browse</p>
                                <p>CSV, JSON</p>
                                <small id="name">File name</small>
                            </div>
                            <p>
                                <small class="warning">File must not exceed 250 MB</small>
                            </p>
                        </div>
                        <div class="form-control radio">
                            <p>Select file type</p>
                            <label for="csv"><input type="radio" name="type" id="csv" value="CSV" />
                                <span>CSV</span>
                            </label>
                            <label for="json">
                                <input type="radio" name="type" id="json" value="JSON" />
                                <span>JSON</span>
                            </label>
                        </div>
                        <div class="form-control">
                            <label for="chunks-number">File Name</label>
                            <input type="text" id="name" name="name" required placeholder="enter file name" />
                        </div>
                        <div class="form-control">
                            <label for="chunks-number">Select the number of chunks</label>
                            <input type="number" id="chunks-number" name="file_count" value="2" required />
                        </div>
                        <div class="form-action">
                            <button>Chunk File</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section id="download-chunk-modal" class="modal">
            <div class="modal-content">
                <span class="close-button"><img src="{% static 'assets/icons/close.png'%}" alt="" /></span>
                <h2>Chunk File <span>(2/2)</span></h2>
                <div class="inner-modal-content">
                    <img src="{% static 'assets/images/download-folder.png'%}" alt="" class="top-img" />
                    <small>Chunking Complete</small>
                    <button class="primary">
                        <span><img src="{% static 'assets/icons/file_download-light.png'%}"
                                alt="file download icon" /></span>Download
                        Zipped Files
                    </button>

                    <div class="download-later">
                        <small>Or</small>
                        <small>Download later. Your file will be saved in your library</small>
                        <button class="complementary">
                            <span><img src="{% static 'assets/icons/file_download.svg'%}"
                                    alt="file download icon" /></span>Download
                            Later</button>
                    </div>
                </div>
        </section>
        <section class="backdrop"></section>
        <nav class="nav-drawer">
            <div class="top">
                <img src="{% static 'assets/icons/menu.png'%}" alt="" class="hamburger" />
                <img src="{% static 'assets/icons/logo.svg'%}" alt="chunck it logo" class="logo" />
            </div>

            <button class="file-upload btn-upload">+<small></small></button>
            <ul class="navigation">
                <li class="active">
                    <a href="{% url 'home'%}">
                        <img src="{% static 'assets/icons/Folder-filled.png'%}" alt="" />
                        <small>Library</small>
                    </a>
                </li>
                <li>
                    <a href="{% url 'setting'%}">
                        <img src="{% static 'assets/icons/manage_accounts.png'%}" alt="" />
                        <small>Account</small>
                    </a>
                </li>
                <li>
                    <a href="{% url 'save_file'%}">
                        <img src="{% static 'assets/icons/manage_accounts.png'%}" alt="" />
                        <small>Save files</small>
                    </a>
                </li>
            </ul>

            <small class="copy-right"><strong>&copy; 2022 ChunkIT, Inc</strong></small>
        </nav>
        <section class="library-actions">
            <button class="btn-delete">
                <img src="{% static 'assets/icons/delete-icon-dark.png'%}" alt="" />
            </button>
            <button class="btn-upload">+ Upload New File</button>
        </section>

        <section class="page-content">
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <p style="color:green;">{{message}}</p>

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

            <img src="{% static 'assets/images/Add files-image.png '%}" alt="download folder image" />
            <p>Your library is empty. Upload a file to start chuncking.</p>
            <button class="btn-upload">Upload New File</button>
        </section>

    </main>

    <script src="{% static 'js/dashboard.js'%}"></script>
    <script>
        let button = document.getElementById('btn');
        let digit = document.getElementById('number');
        let file = document.getElementById('file');
        let size = document.getElementById('size')

        file.onchange = function () {
            let maxSize = 250 * 1024 * 1024;
            if (this.files[0].size > maxSize) {
                swal.fire('the file is larger than 10mb');
                this.value = "";
            };
        };

    </script>

</body>

</html>