<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DELETE</title>
    <!-- <link rel="stylesheet" href="dashboard.css" /> -->
    <link rel="stylesheet" href="{% static 'css/detele.css'%}">
</head>

<body>
    <header class="top-nav">
        <div>
            <img src="{% static 'assets/icons/logo.svg'%}" alt="chuck it logo" class="logo" />
        </div>
        <div class="user">
            <small>{{user.username}}</small>
            <a href="{% url 'signout'%}"><img src="{% static 'assets/icons/logout-icon.png'%}" alt=""
                    style="cursor: pointer;" /></a>
        </div>
    </header>
    <main>
        <section class="backdrop"></section>
        <nav class="nav-drawer">
            <div class="top">
                <img src="{% static 'assets/icons/menu.png'%}" alt="" class="hamburger" />
                <img src="{% static 'assets/icons/logo.svg'%}" alt="chunck it logo" class="logo" />
            </div>

            <button class="file-upload btn-upload">+<small></small></button>
            <ul class="navigation">
                <li class="active">
                    <a href="{% url 'save_file'%}">
                        <img src="{% static 'assets/icons/Folder-filled.png'%}" alt="" />
                        <small>Library</small>
                    </a>
                </li>
                <li>
                    <a href="{% url 'setting'%}">
                        <img src="{% static 'assets/icons/manage_accounts.png'%}" alt="" />
                        <small>Account</small>
                    </a>
                </li>
            </ul>

            <small class="copy-right"><strong>&copy; 2022 ChunkIT, Inc</strong></small>
        </nav>
        <div class="chunk-content">
            <h2>Confirm Deletion</h2>
            <form method="post" class="inner-modal-content">
                {% csrf_token %}
                <p>
                    Are you sure you want to delete this file and its chunked files?
                </p>
                <p>
                    <span id="name"><strong>{{file}}</strong></span>
                </p>
                <button type="submit" class="danger">Delete</button>
                <button class="cancel"><a href="{% url 'save_file'%}"
                        style="text-decoration: none; color:inherit;">Cancel</a>
                </button>
            </form>
        </div>
    </main>

    <!-- <script src="dashboard.js"></script> -->
    <script src="{% static 'js/dashboard-chunk.js'%}"></script>
</body>

</html>