{% extends 'base.html'%}
{% block title %}CONTACT US{% endblock %}
{% block content%}
{% load static %}
<main>

    <section class="top-section">
        <h1>FAQs</h1>
        <p>
            Here you can find frequently asked questions. We help you find the
            answers.
        </p>
    </section>
    <section class="question-container">
        <div class="inner">
            <div class="question">
                <h3>Is your platform free of charge?</h3>
                <button class="btn-dropdown">
                    <img src="{% static 'assets/icons/drop-down.png'%}" alt="" />
                </button>
            </div>
            <div class="answer">
                <p>
                    Yes our platform is absolutely free, no monthly subscriptions, no
                    hidden charges.
                </p>
            </div>
        </div>
        <div class="inner">
            <div class="question">
                <h3>Is your platform free of charge?</h3>
                <button class="btn-dropdown">
                    <img src="{% static 'assets/icons/drop-down.png'%}" alt="" />
                </button>
            </div>
            <div class="answer">
                <p>
                    Yes our platform is absolutely free, no monthly subscriptions, no
                    hidden charges.
                </p>
            </div>
        </div>
        <div class="inner">
            <div class="question">
                <h3>Is your platform free of charge?</h3>
                <button class="btn-dropdown">
                    <img src="{% static 'assets/icons/drop-down.png'%}" alt="" />
                </button>
            </div>
            <div class="answer">
                <p>
                    Yes our platform is absolutely free, no monthly subscriptions, no
                    hidden charges.
                </p>
            </div>
        </div>
    </section>
    <section class="contact-section">
        <div>
            <h2>We're here to help!</h2>
            <p>
                We have a 24/7 support that will be happy to help you, please feel
                free to reach out to us.
            </p>
            <div class="inline">
                <img src="{% static 'assets/icons/icon-phone.png'%}" alt="" />
                <p>+23490905024</p>
            </div>
            <div class="inline">
                <img src="{% static 'assets/icons/icon-mail.png'%}" alt="" />
                <p>info@chunkit.io</p>
            </div>
        </div>
        <div class="form-container">
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <form action="/send" method="post">
                {% csrf_token %}
                <div>
                    <input type="text" name="name" id="name" placeholder="Full name" />
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Email address" />
                </div>
                <div>
                    <input type="tel" name="phone" id="phone" placeholder="Phone No." />
                </div>
                <div>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <div>
                    <button type="submit" class="bt">Submit</button>
                </div>
                <div class="social-icon"></div>
            </form>
        </div>
    </section>
</main>


{% endblock%}