{% extends 'base.html'%}
{% block title %}CHUNKIT{% endblock %}
{% block content%}
{% load static %}

<main class="hero">
    <div class="container flex--center mobile--center ">
        <div class="hero--header push--down">
            <h1>
                Chunking made easy with
                <span class="complementary-color">ChunkIT</span>
            </h1>
            <h5>Get free access to splitting large files</h5>
            <form class="email--address__input">
                <input type="email" placeholder="Email Address" class="hero--input" />
                <button>Get Started</button>
            </form>
            <div class="checkmarks">
                <div class="checkmark">
                    <img src="{% static 'assets/img/check.svg'%}" alt="" />
                    <span>No Setup</span>
                </div>
                <div class="checkmark">
                    <img src="{% static 'assets/img/check.svg'%}" alt="" />
                    <span>No Credit card</span>
                </div>
                <div class="checkmark">
                    <img src="{% static 'assets/img/check.svg'%}" alt="" />
                    <span>Free Forever</span>
                </div>
            </div>
        </div>
        <!-- aside -->
        <div class="tilt--folder push--down">
            <img class="tilted--img" src="{% static 'assets/img/folder-tilt.svg'%}" alt="" />
        </div>
    </div>
</main>
<section class="bg-grey cards__section">
    <div class="container">
        <h5 class="card--title">WHAT WE OFFER YOU</h5>
        <!-- cards -->
        <div class="cards">
            <div class="card">
                <img src="{% static 'assets/img/Security.svg'%}" alt="" />
                <h5>Security</h5>
                <p>Protecting your data at every process</p>
            </div>
            <div class="card">
                <img src="{% static 'assets/img/Save files.svg'%}" alt="" />
                <h5>Save Files</h5>
                <p>Save your chunked files now download anytime</p>
            </div>
            <div class="card">
                <img src="{% static 'assets/img/Dashboard.svg'%}" alt="" />
                <h5>Dashboard</h5>
                <p>Visualize your chunked data in a manner of ways</p>
            </div>
        </div>
    </div>
</section>
<!-- video section -->
<section class="video__section">
    <div class="container">
        <h3>A STEP BY STEP PROCESS OF USING THIS PLATFORM</h3>
        <img src="{% static 'assets/img/video-img.png'%}" />
    </div>
</section>
<!-- desktop--view of articles -->
<article class="mobile--hidden">
    <div class="container flex space-between center">
        <section class="article--section padding--0">
            <h4>WORRIED ABOUT YOUR PRIVACY?</h4>
            <h5>
                ChunkIt respects your right to privacy when you make use of our
                software. Your personal data is treated in compliance with data
                protection laws.
            </h5>
        </section>
        <aside class="article__image">
            <img src="{% static 'assets/img/rafiki.svg'%}" alt="" />
        </aside>
    </div>
</article>
<article class="json--csv__article mobile--hidden">
    <div class="container flex space-between flex--reverse center">
        <section class="article--section padding--0">
            <h4>ANALYZE HUGE FILES IN REAL TIME</h4>
            <h5>
                Is your JSON or CSV file too large? Simply upload it to ChunkIt,
                click on chunk file, and you're done. ChunkIt provides you with an
                exceptional file chunking tool in minutes, not hours.
            </h5>
        </section>
        <aside class="flex article__image">
            <img src="{% static 'assets/img/JSON 1.svg'%}" alt="" />
            <img src="{% static 'assets/img/CSV 1.svg'%}" alt="" />
        </aside>
    </div>
</article>
<!-- mobile--view of article--section  -->
<article class="desktop--hidden">
    <div class="container flex--center col">
        <h6>WORRIED ABOUT YOUR PRIVACY?</h6>
        <img class="vault" src="{% static 'assets/img/rafiki.svg'%}" alt="" />
        <p>
            ChunkIt respects your right to privacy when you make use of our
            software. Your personal data is treated in compliance with data
            protection laws.
        </p>
    </div>
</article>
<article class="desktop--hidden json--csv__article">
    <div class="container flex--center col">
        <h6>ANALYZE HUGE FILES IN REAL TIME</h6>
        <div class="tilted--json__csv">
            <img class="right" src="{% static 'assets/img/JSON 1.svg'%}" alt="" />
            <img class="left" src="{% static 'assets/img/CSV 1.svg'%}" alt="" />
        </div>
        <p>
            Is your JSON or CSV file too large? Simply upload it to ChunkIt, click
            on chunk file, and you're done. ChunkIt provides you with an
            exceptional file chunking tool in minutes, not hours.
        </p>
    </div>
</article>
<!-- footer section-->
<section class="footer--section">
    <div class="container flex space-between center mobile--center">
        <h4 class="footer--section__h4">
            There Is No Need For Installation, a Database, or Configuration
        </h4>
        <a class="get--started__btn" href="">
            <h4>Get Started For Free</h4>
        </a>
    </div>
</section>
<!-- footer -->
{% endblock%}