<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/sign-up.css'%}" />
    <link rel="stylesheet" href="{% static 'css/footer.css'%}" />
</head>

<body>
    <header>
        <div>
            <a href="{% url 'landing_page'%}"><img class="logo" src="{% static 'assets/icons/logo.svg'%}" alt="" /></a>
        </div>
        <div class="header-action">
            <a class="btn-login btn" href="{% url 'login'%}">Login</a>
        </div>
    </header>
    <main>
        <section class="main-container">
            <div class="form-container">
                <h2>Create an account</h2>
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    <p style="color: red;">{{message}}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                <form action="/register" method="post" class="reg-form">
                    {% csrf_token %}
                    <div class="form-control validate">
                        <label for="name">Username</label>
                        <input type="text" placeholder="John" name="username" id="name" />
                        <img src="{% static 'assets/icons/icon-error.svg'%}" alt="error icon" class="error-icon" />
                        <small>Enter Username</small>
                    </div>
                    <div class="form-control validate">
                        <label for="email">Email Address</label>
                        <input type="email" name="email" required placeholder="example@gmail.com" id="email" />
                        <img src="{% static 'assets/icons/icon-error.svg'%}" alt="error icon" class="error-icon" />
                        <small>Enter a valid email address</small>
                    </div>
                    <div class="form-control validate">
                        <label for="">Password</label>
                        <input type="password" name="password" required placeholder="Enter atleast 8 characters"
                            id="password" />
                        <img class="" id="toggle-password" src="{% static 'assets/icons/remove_red_eye.png'%}"
                            alt="show password icon" />
                        <img src="{% static 'assets/icons/icon-error.svg'%}" alt="error icon" class="error-icon" />
                        <small>Password must be atleast 8 characters long</small>
                    </div>
                    <div class="form-control">
                        <input type="checkbox" name="agree" id="agree" required />
                        <small>I agree to the <a>Terms of Service</a> and
                            <a>Privacy Policy</a></small>
                    </div>
                    <button class="btn" type="submit">Create an Account</button>
                </form>
            </div>
            <div class="illustration-container">
                <div class="slides fade">
                    <img src="{% static 'assets/images/file-girl.png'%}" alt="" />
                    <h2>Chunking Made easy</h2>
                    <p>Get access to splitting your large files for free</p>
                </div>
                <div class="slides fade">
                    <img src="{% static 'assets/images/dashbord-girl.png'%}" alt="" />
                    <h2>Chunking Made easy</h2>
                    <p>Customize and Organize your split files in dashboard</p>
                </div>
                <div class="slides fade">
                    <img src="{% static 'assets/images/device-man.png'%}" alt="" />
                    <h2>Chunking Made easy</h2>
                    <p>Enjoy seamless experience across all devices</p>
                </div>
                <div class="slide-nav">
                    <button class="sliders-btn-left" onclick="plusSlides(-1)">
                        <img class="arrow" src="{% static 'assets/icons/arrow_forward_ios.svg'%}" alt="" />
                    </button>
                    <div class="dots">
                        <span class="dot active" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                    <button class="sliders-btn-right" onclick="plusSlides(1)">
                        <img class="arrow" src="{% static 'assets/icons/arrow_forward_ios.svg'%}" alt="" />
                    </button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer-first">
            <div>
                <img class="logo" src="{% static 'assets/icons/footer-logo.png'%}" alt="" />
            </div>

            <div>
                <ul class="nav-link">
                    <li><a href="Front-end/documentation.html">Documentation</a></li>
                    <li><a href="{% url 'about'%}">About us</a></li>
                    <li><a href="{% url 'faq'%}">Contact us</a></li>
                </ul>
            </div>
        </section>
        <section class="footer-second">
            <div>
                <p>SUBSCRIBE NOW</p>
                <div class="subscribe-field">
                    <form action="">
                        <input type="email" placeholder="Your email" />
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                <path
                                    d="M118.6 105.4l128 127.1C252.9 239.6 256 247.8 256 255.1s-3.125 16.38-9.375 22.63l-128 127.1c-9.156 9.156-22.91 11.9-34.88 6.943S64 396.9 64 383.1V128c0-12.94 7.781-24.62 19.75-29.58S109.5 96.23 118.6 105.4z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            <p>All Rights Reserved 2022</p>
        </section>
    </footer>

    <!-- <script src="login-modal.js"></script> -->
    <script src="{% static 'js/sign-up.js'%}"></script>
</body>

</html>