{% extends 'reset.html' %}
{% block title %}Reset Password Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<section class="login-container">
  <div class="login reset">
    <!-- <span class="close-button">&times;</span> -->
    <img src="{% static 'assets/icons/logo.svg'%}" alt="Logo" class="mt-3" />
    <h4 class="mt-3 mb-3">Forgot Your Password</h4>
    <small class="mb-3 text-center">
      Enter your email address and we will send you instructions to reset
      your password
    </small>
    <form method="post">
      <div class="form-action">
        {% csrf_token %}
        {{ form|crispy }}
        <input class=" mb-3" type="submit" value="Continue"
          style="background-color: #301e4e; color: white; width: 50%;border: none; padding: 0.6rem 0.8rem;font-family: inherit;">
      </div>
    </form>
  </div>
</section>
{% endblock %}