{% extends 'reset.html' %}
{% block title %}Login Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<section class="login-container">
    <div class="login reset">
        <!-- <span class="close-button">&times;</span> -->
        <img src="{% static 'assets/icons/logo.svg'%}" alt="Logo" />
        <form method="post">
            <div class="form-action">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Reset"
                    style="background-color: #301e4e; color: white; width: 50%;border: none; padding: 0.6rem 0.8rem;font-family: inherit;">
            </div>
        </form>
    </div>
</section>
{% endblock %}